@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Delius|Muli:300,400');

body {
	background-color: $gray-300;
	overflow-x: hidden;
}
.topnav {
	background-color: maroon;
	font-family: 'Delius', cursive;
	height: 10vh;
	a {
		color: white;
		font-size: 1vh;
		padding: 1vh 2vh;
		white-space: nowrap;
		@include media-breakpoint-up(sm) {
			font-size: 4vh;
		}
	}
	a.active {
		background-color: black !important;
	}
	a:hover {
		background-color: lighten(maroon, 10%);
	}
}
.main {
	@include media-breakpoint-up(sm) {
		height: 90vh;
	}
	background-color: $gray-500;
	font-family: 'Muli', sans-serif;
}
