* {
  margin: 10px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  /*font-family: 'Playfair Display', serif;*/
}

a.btn {
  background: rgba(100, 100, 100, 0.5);
  font-family: "Arial Black", Gadget, sans-serif;
  border-radius: 3px;
  color: #fff;
}
